name: Probe Metrics Logger

on:
  schedule:
    - cron: '*/5 * * * *' # Every 5 minutes
  workflow_dispatch:

jobs:
  log-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Restore metrics cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: ./metrics
          key: probe-metrics

      - name: Install dependencies
        run: npm install node-fetch

      - name: Run metrics.js
        env:
          APIKEY: ${{ secrets.APIKEY }}
        run: |
          mkdir -p ./metrics
          node scripts/metrics.js

      - name: Save metrics cache
        if: steps.cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ./metrics
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

      - name: Upload updated metrics artifact
        uses: actions/upload-artifact@v4
        with:
          name: probe-metrics
          path: ./metrics/metrics.csv

